
.desktop {
    text-align: center;
    display: block;
}

.image {
    margin: 2rem 0;
    max-width: 80%;
}

@media screen and (min-width: 800px){
    .desktop {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 1rem;
    }
    .ruleBox {
        margin-top: 1.5rem;
        position: relative;
        max-width: 500px;
    }
    .rules {
        position: absolute;
        bottom: 10%;
    }
    .image {
        max-width: 500px;
    }
}